<p id="notice"><%= notice %></p>

<h1>Take Medicine Managements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @take_medicine_managements.each do |take_medicine_management| %>
      <tr>
        <td><%= link_to 'Show', take_medicine_management %></td>
        <td><%= link_to 'Edit', edit_take_medicine_management_path(take_medicine_management) %></td>
        <td><%= link_to 'Destroy', take_medicine_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Take Medicine Management', new_take_medicine_management_path %>
