<div class="row">
  <div class="text-center"><h2>欢迎消息管理</h2></div>
  <div class="col-md-12">
    <div class="pull-right" style="margin-right:20px;">
      <%= link_to '消息选择', select_message_template_infos_path,class:'btn btn-success' %>

      <%= link_to '新增消息', new_template_info_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>消息管理</h2>
      </div>
      <div class="box-content">
        <table class="table table-bordered text-overflow">
          <thead>
          <tr>
            <th>标题</th>
            <th>描述</th>
            <th>封面图片</th>
            <th>文章链接</th>
            <th>操作</th>
          </tr>
          </thead>

          <tbody>
            <%= render partial: 'template_info'%>
          </tbody>
        </table>

        <div style="background:#f1f1f1;" class="text-center">
          <%= paginate @wx_messages %>
          <%= page_entries_info @wx_messages %>
        </div>

      </div>
    </div>
  </div>
</div>
