<div class="row">
  <div class="col-lg-12">
    <div class="box-self">
      <form  method="GET" accept-charset="UTF-8" action="/medical_record_managements" class="form-horizontal">
        <div class="form-group col-md-4">
          <label class="col-sm-4 control-label">姓名:</label>
          <div class="col-md-8">
            <input type="text" name="name" value="<%= @name %>" id="name" class="form-control"/>
          </div>
        </div>
        <div class="form-group col-md-8">
          <label class="col-sm-3 control-label">日期:</label>
          <div class="col-md-4">
            <input type="text" name="start_at" value="<%= @start_at %>" id="start_at" class="form-control datepicker"/>
          </div>
          <div class="text-center col-sm-1">至</div>
          <div class="col-md-4">
            <input type="text" name="end_at" value="<%= @end_at %>" id="end_at" class="form-control datepicker"/>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label class="col-sm-4 control-label">类型:</label>
          <div class="col-md-8">
            <select name="category" id="category" class="form-control select2">
              <option value="">--- 请选择 ---</option>
              <% Setting.category.each do |c|%>
                <% if @category == c %>
                  <option value="<%= c %>" selected="selected"><%= c %></option>
                <% else %>
                  <option value="<%= c %>"><%= c %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
        <div class="form-group col-md-4">
          <button type="submit" class="btn btn-success">搜索</button>
          <%= link_to '清空',medical_record_managements_path,:class=>'btn btn-primary'%>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="text-center"><h2>病历管理</h2></div>
    <div class="box col-md-12">
      <div class="box-inner">
        <div class="box-header well">
          <h2>病历管理</h2>
        </div>
        <div class="box-content">
        <% if @medical_record_managements && @medical_record_managements.length>0 %>
          <% @medical_record_managements.each do |medical_record_management| %>
            <h3><%= medical_record_management[:record_date] %></h3>
            <ul class="thumbnails">
            <% medical_record_management[:record_content].each do |content| %>
              <li class="thumbnail">
                <a href="<%= content.image_path %>" target="_blank">
                  <img src="<%= content.image_path %>" />
                </a>
                <hr style="margin-top:0px;margin-bottom:0px;border-color:#000;"/>
                <dt class="text-center"><%= User.find(content.user_id).truename %> | <%= content.name %></dt>
              </li>
            <% end %>
            </ul>
          <% end %>
        <% else %>
          <h3 class="text-center">暂无数据</h3>
        <% end %>
          <!-- <h3 class="text-center">暂无数据</h3>

          <h3>2017/01/05</h3>
          <ul class="thumbnails">
            <li class="thumbnail">
              <a href="/medical_record_management/1.jpg" target="_blank"><img src="/medical_record_management/1.jpg" /></a>
              <hr style="margin-top:0px;margin-bottom:0px;border-color:#000;"/>
              <dt class="text-center">123</dt>
            </li>
            <li class="thumbnail">
              <a href="/medical_record_management/1.jpg" target="_blank"><img src="/medical_record_management/1.jpg" /></a>
              <hr style="margin-top:0px;margin-bottom:0px;border-color:#000;"/>
              <dt class="text-center">123</dt>
            </li>
            <li class="thumbnail">
              <a href="/medical_record_management/1.jpg" target="_blank"><img src="/medical_record_management/1.jpg" /></a>
              <hr style="margin-top:0px;margin-bottom:0px;border-color:#000;"/>
              <dt class="text-center">123</dt>
            </li>
          </ul> -->

        </div>
      </div>
    </div>
  </div>

