<!-- search_form -->
<div class="row">
  <div class="col-lg-12">
    <div class="box-self">
      <%= search_form_for @q,:html=>{:class=>'form-horizontal'} do |f| %>
        <div class="form-group col-md-3">
          <%= f.label :health_item_user_id_eq,'姓名',class:'col-sm-5 control-label' %>
          <div class="col-md-7">
            <%= f.select :health_item_user_id_eq, options_for_select(User.all.map{|m| [m.truename, m.id]}, selected=@user_id), {}, class:'form-control'%>
          </div>
        </div>
        <div class="form-group col-md-5">
          <label class="col-sm-3 control-label">日期:</label>
          <div class="col-md-4">
            <%= f.search_field :created_at_gt,class:'form-control'%>
          </div>
          <div class="text-center col-sm-1">至</div>
          <div class="col-md-4">
            <%= f.search_field :created_at_lt,class:'form-control'%>
          </div>
        </div>
        <div class="form-group col-md-3">
          <label class="col-sm-5 control-label">项目名称:</label>
          <div class="col-md-7">
          <%= f.select :health_item_id_eq, options_for_select(HealthItem.where("user_id = ? AND is_check=1", @user_id).map{|m| [m.name, m.id]}, selected=@health_item_id), {}, class:'form-control'%>
          </div>
        </div>
        <div class="form-group col-md-2">
          <%= f.submit '搜索',class:'btn btn-success' %>
          <%= link_to '清空',health_item_records_path,:class=>'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- search_form end -->

<div class="row">
  <div class="text-center"><h2>数据统计</h2></div>
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>数据统计</h2>
      </div>
      <div class="box-content">
          <% if @health_item_records.present? %>
            <table class="table table-bordered">
              <tr>
                <th>姓名</th>
                <th>采集时间</th>
                <% if HealthItem.find(@health_item_records[0].health_item_id).subitem.present? %>
                  <% HealthItem.find(@health_item_records[0].health_item_id).subitem.split(",").each do |sub| %>
                    <th><%= sub %></th>
                  <% end %>
                <% else %>
                  <th><%= HealthItem.find(@health_item_records[0].health_item_id).name %></th>
                <% end %>
              </tr>
              <% @health_item_records.each do |health_item_record| %>
                <tr>
                  <td><%= health_item_record.health_item.user.truename %></td>
                  <td><%= health_item_record.created_at.strftime('%Y-%m-%d %H:%M') %></td>
                  <% health_item_record.content.split(",").each do |c| %>
                    <td><%= c %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% else %>
            <h3 class="text-center">暂无数据</h3>  
          <% end %>
      </div>
    </div>
  </div>
</div>
