<%= form_for @wx_code,:url=>wx_codes_url,:html=>{:class=>''} do |code|%>
    <div class="form-group">
      <%= code.label :title,'名称'%>
      <%= code.text_field :title,class:'form-control'%>
    </div>
    <div class="form-group">
      <%= code.label :code_type,'二维码类型'%>
      <%= code.select :code_type,options_for_select(WxCode.code_types.map{|k| [k[0],k[0]]},@wx_code.code_type || nil),{include_blank:'请选择二维码的类型'},class:'form-control'%>
    </div>
    <div class="form-group">
      <%= code.label :expire_time,'过期时间'%>
      <%= code.text_field :expire_time,class:'form-control datetimepicker'%>
    </div>
    <div class="form-group">
      <%= label_tag :scence,'二维码参数类型'%>&nbsp;&nbsp;&nbsp;&nbsp;
      <%= label_tag :scence,class:'radio-inline' do %>
        <%= radio_button_tag :scence,'num',checked:true%>
        数字
      <%end%>
      <%= label_tag :scence,class:'radio-inline' do %>
        <%= radio_button_tag :scence,'string'%>
        字符
      <%end%>
    </div>
    <div class="form-group">
      <%= label_tag :arg,'二维码参数'%>
      <%= text_field_tag :arg,'',class:'form-control'%>
    </div>
    <%= code.hidden_field :ticket%>
    <%= code.hidden_field :code_name%>
    <%= code.hidden_field :code_url%>
    <%= code.hidden_field :url%>
    <div class="center col-md-8">
      <%= code.submit '新增',class:'btn btn-success',disabled:true%>
      <%= link_to '返回', wx_codes_path, class: 'btn btn-primary' %>
    </div>
<%end%>