<!-- search_form -->
<div class="row">
  <div class="col-lg-12">
    <div class="box-self">
      <%= search_form_for @q,:html=>{:class=>'form-horizontal'} do |f| %>
        <div class="form-group col-md-4">
          <%= f.label :name_cont,'项目名称',class:'col-sm-4 control-label' %>
          <div class="col-md-8">
            <%= f.search_field :name_cont, value: @name, class:'form-control'%>
          </div>
        </div>
        <div class="form-group col-md-4">
          <%= f.submit '搜索',class:'btn btn-success' %>
          <%= link_to '清空',health_items_path,:class=>'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- search_form end -->
<div class="row">
  <div class="text-center"><h2>项目管理</h2></div>
  <div class="col-md-12">
    <div class="pull-right" style="margin-right:20px;"><%= link_to '新增项目', new_health_item_path, class: 'btn btn-primary' %></div>
  </div>
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well">
        <h2>项目管理</h2>
      </div>
      <div class="box-content">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>项目名称</th>
              <th>单位</th>
              <th>正常值</th>
              <th>取值范围</th>
              <th>所属用户</th>
              <th>是否开启</th>
              <th>是否系统默认项目</th>
              <th>操作</th>
            </tr>
          </thead>

          <tbody>
            <% @health_items.each do |health_item| %>
              <tr>
                <td><%= health_item.name %></td>
                <td><%= health_item.unit %></td>
                <td>
                  <% if health_item.normal_min != nil && health_item.normal_max != nil%>
                    <%= health_item.normal_min %>
                    ~
                    <%= health_item.normal_max %>
                  <%end%>
                </td>
                <td><%= health_item.value_range.sub(",","~") if health_item.value_range.present? %></td>
                <td><%= User.find(health_item.user_id).truename if health_item.user_id %></td>
                <td><%= t("health_item.is_check.#{health_item.is_check}") if health_item.is_check.present? %></td>
                <td>
                  <% if health_item.is_admin==1%>
                    是
                  <% else %>
                    否
                  <% end %>
                </td>
                <td>
                  <%= link_to '删除', health_item, method: :delete, data: { confirm: '此项目相关所有数据将被永久移除,确认删除吗?' }, class:'btn btn-danger btn-sm' %>
                  <% if !health_item.user_id.present? && health_item.is_admin==1%>
                    <%= link_to '子项目', health_item_subs_path(:health_item_id=> health_item.id), class:'btn btn-success btn-sm' %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div style="background:#f1f1f1;" class="text-center">
          <%= paginate @health_items %>
          <%= page_entries_info @health_items %>
        </div>

      </div>
    </div>
  </div>
</div>
