<!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li>
                            <a class="ajax-link" href="/">
                                <i class="glyphicon glyphicon-home"></i>
                                <span>主页</span>
                            </a>
                        </li>
                        <li>
                            <a href="<%= users_path %>">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>会员中心</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= medical_record_managements_path %>">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span>病历管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= take_medicine_managements_path %>">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>服药管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= health_item_records_path %>">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>数据统计</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= health_items_path %>">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>项目管理</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= accounts_path %>">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>账号管理</span>
                            </a>
                        </li>
                        <!-- <li>
                            <a class="ajax-link" href="<%= health_item_attentions_path %>">
                                <i class="glyphicon glyphicon-volume-up"></i>
                                <span>健康项目提醒</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="<%= take_medicine_attentions_path %>">
                                <i class="glyphicon glyphicon-bell"></i>
                                <span>服药提醒</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="#">
                                <i class="glyphicon glyphicon-heart"></i>
                                <span>关注</span>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends --!>