<!DOCTYPE html>
<html>
  <head>
    <title>HealthRecord</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller] %>
    <%= stylesheet_link_tag params[:controller] %>
    <%= yield :head %>
  </head>

  <body>
	<%= render 'layouts/header' %>

	<div class="ch-container">
    		<div class="row">
    			<%= render 'layouts/sidebar'%>
    			<%= render 'layouts/content'%>
    		</div>
    		<%= render 'layouts/footer' %>
    	</div>
	
	
  </body>
</html>
