<%= form_for(@account,  url: update_password_accounts_url) do |f| %>
  <div class="row">
    <div class="well col-md-5 center login-box">
      <% if @account.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @account.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, '新密码' %>
        <%= f.password_field :password, autocomplete: "off" ,:class=>'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class=>'form-control' %>
      </div>
      <div class="center col-md-8">
        <%= f.submit "确认修改",:class=>'btn btn-primary' %>
        <%= link_to '返回主页', root_path, :class=>'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>